@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/variables.scss';
@import '../../scss/mixins/breakpoints.scss';

.work-in-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: toRem(30) 0;
    position: relative;
    box-shadow: 0px 0px 18px 5px $color_light inset;
    border-radius: toRem(50);  

    &__image {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        opacity: 0.5;
        border-radius: toRem(50);

        @include breakpoint-above(xs) {
            max-height: 80vh;
        }
    }

    &__title {
        position: absolute;
        bottom: toRem(20);
        left: 0;
        right: 0;
        font-size: toRem(48);
        text-align: center;
        font-style: italic;
        color: $color_secondary;
        text-shadow: 2px 2px 5px $color_secondary;
        -webkit-text-stroke: toRem(2) $color_bg;
        margin: 0 toRem(15);

        @include breakpoint-above(xs) {
            bottom: toRem(40);
        }
    }
}