@import '../../../scss/mixins/breakpoints.scss';
@import '../../../scss/mixins/variables.scss';
@import '../../../scss/functions/px-to-rem.scss';

.adoption-card-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(245, 245, 245, 0.3);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        background-color: $color_bg;
        border-radius: toRem(30);
        display: flex;
        flex-direction: column;
        padding: toRem(25);
        width: 100%;
        max-width: toRem(1064);
        max-height: 95%;
        position: relative;
        box-shadow: 5px 5px 10px -2px $emphasis_dark;

        &__close {
            position: absolute;
            top: toRem(15);
            right: toRem(15);
            background-color: $color_brighter;
            color: $color_light;
            background-color: $color_primary;
            border-radius: toRem(30);
            border: toRem(4) double $color_light;
            width: toRem(50);
            height: toRem(50);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        &__details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: toRem(15);
            flex-wrap: wrap;
            color: $color_light;

            &__image {
                margin: 0 auto;
                background-color: $color_primary;
                border-radius: toRem(30);
                display: flex;
                box-shadow: 5px 5px 10px -2px $emphasis_dark;

                img {
                    max-width: toRem(200);
                    max-height: toRem(200);
                    background-color: $color_primary;
                    border-radius: toRem(30);
                    border: toRem(4) double $color_light;

                    @include breakpoint-above(sm) {
                        max-width: toRem(400);
                        max-height: toRem(400);
                    }
                }
            }

            &__content {
                font-size: toRem(16);
                line-height: toRem(20);
                letter-spacing: toRem(0.8);
                text-shadow: 2px 2px 5px $emphasis_dark;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                text-wrap: wrap;

                @include breakpoint-above(md) {
                    max-width: toRem(500);
                    font-size: toRem(18);
                    line-height: toRem(24);
                    padding: toRem(10);
                }

                & > * {
                    margin-bottom: toRem(10);
                    display: flex;

                    img {
                        width: 100%;
                        height: 100%;
                        max-width: toRem(24);
                        max-height: toRem(24);
                        margin-right: toRem(10);
                    }
                }

                &__header {
                    font-size: toRem(24);
                    line-height: toRem(24);
                    margin: toRem(10) 0;
                }
            }
        }

        &__link {
            text-decoration: none;
            color: $color_light;
            font-size: toRem(18);
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: underline;
            width: auto;

            svg {
                margin-right: toRem(10);
            }
        }
    }
}