@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/variables.scss';
@import '../../scss/mixins/breakpoints.scss';

.support {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(32);
    width: 100vw;
    margin: 0 auto;

    @include breakpoint-above(sm) {
        flex-direction: row;
        justify-content: space-between;
        max-width: toRem(1064);
    }

    &__image {
        max-width: 100%;
        height: auto;
        max-height: toRem(330);
        opacity: 0.5;
        filter: brightness(150%);
        box-shadow: 5px 5px 10px -2px $emphasis_dark;

        @include breakpoint-above(sm) {
            border-top-right-radius: toRem(30);
            border-bottom-right-radius: toRem(30);  
        }

        @include breakpoint-above(lg) {
            border-radius: toRem(200);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $color_light;
        padding: 0 toRem(10);

        @include breakpoint-above(sm) {
            height: toRem(290);
            align-items: flex-start;
            justify-content: space-between;
            text-align: left;
        }

        &__content {
            &__title {
                text-transform: capitalize;
                font-size: toRem(32);
                -webkit-text-stroke: toRem(1) $color_bg;
                text-shadow: 2px 2px 5px $emphasis_dark;
            }

            &__text {
                max-width: toRem(500);
                padding: toRem(16) 0;
                font-size: toRem(18);
                line-height: 1.2;
                font-weight: 300;
                text-shadow: 2px 2px 5px $emphasis_dark;
            }
        }
    }
}