@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__section {
        width: 100vw;
        margin: toRem(16) auto;

        &__title {
            color: $color_light;
            font-size: toRem(32);
            text-align: center;
            text-transform: capitalize;
            -webkit-text-stroke: toRem(1) $color_bg;
            text-shadow: 2px 2px 5px $emphasis_dark;
            margin-bottom: toRem(15);
        }

        &__subtitle {
            color: $color_light;
            font-size: toRem(18);
            text-align: center;
            text-transform: uppercase;
            text-shadow: 2px 2px 5px $emphasis_dark;
        }
    }
}