@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/variables.scss';
@import '../../scss/mixins/breakpoints.scss';

.about-us {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    width: 100vw;
    margin: toRem(20) auto;

    &__content {
        color: $color_bg;
        display: flex;
        flex-direction: column;
        gap: toRem(30);
        width: 100%;
        margin: 0 auto;
        background-color: $color_brighter;
        padding: toRem(20) toRem(10);
        box-shadow: 5px 5px 10px -2px $emphasis_dark;

        @include breakpoint-above(xs) {
            padding: toRem(40);
        }

        @include breakpoint-above(sm) {
            flex-direction: row;
        }

        @include breakpoint-above(md) {
            max-width: toRem(1000);
            border-radius: toRem(15);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: toRem(2);
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        background: linear-gradient(to right, transparent, $color_bg);
        padding: toRem(2);
        padding-left: 0;
        border-top-right-radius: toRem(8);
        border-bottom-right-radius: toRem(8);

        &:hover {
            background: $color_bg;
        }
    }

    &__link {
        font-size: toRem(18);
        font-weight: 600;
        background-color: $color_brighter;
        padding: toRem(5);
        text-wrap: nowrap;
        border-top-right-radius: toRem(5);
        border-bottom-right-radius: toRem(5);
    }
}