@import '../scss/mixins/reset.scss';
@import '../scss/mixins/variables.scss';
@import '../scss/functions/px-to-rem.scss';
@import '../scss/mixins/breakpoints.scss';
// .app {
//     width: 100%;
//     min-height: 100vh;
//     background-color: $color_bg;
//     overflow: hidden;
// }

.app {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: $color_bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
        content: " ";
        display: block;
        width: 100vw;
        height: toRem(25);
        background-image: linear-gradient(to right, $color_brighter, $color_secondary);
        box-shadow: 0px 5px 10px -2px $emphasis_dark;
        z-index: 15;
    }

    &::after {
        content: " ";
        display: block;
        width: 100vw;
        height: toRem(25);
        background-image: linear-gradient(to right, $color_brighter, $color_secondary);
        box-shadow: 0px -5px 10px -2px $emphasis_dark;
        z-index: 15;
    }

    &__menu {
        width: 100%;
        height: toRem(100);
        top: toRem(-100);
        background-color: $color_primary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        box-shadow: 5px 5px 10px -2px $emphasis_dark;
        animation: move-in 1.5s forwards;


        @include breakpoint-above(md) {
            max-width: toRem(1064);
            border-bottom-left-radius: toRem(20);
            border-bottom-right-radius: toRem(20);
        }

        &__logo {
            margin: 0 toRem(10);
            cursor: pointer;
        }

        &__burger {
            fill: $color_light;
            font-size: toRem(34);
            margin: toRem(20);
            position: relative;
            width: toRem(40);
            height: toRem(30);
            background: transparent;
            cursor: pointer;
            display: block;

            &__line {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: $color_light;
                border-radius: toRem(30);
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .6s ease-in-out;

                &:nth-of-type(1) {
                    top: 0px;
                    transform-origin: left center;
                  }
                  
                &:nth-of-type(2) {
                    top: 50%;
                    transform: translateY(-50%);
                    transform-origin: left center;
                  }
                  
                &:nth-of-type(3) {
                    top: 100%;
                    transform-origin: left center;
                    transform: translateY(-100%);
                }

                &--hide {
                    &:nth-of-type(1) {
                        transform: rotate(45deg);
                        top: 0px;
                        left: 5px;
                    }
                      
                    &:nth-of-type(2) {
                        width: 0%;
                        opacity: 0;
                    }
                      
                    &:nth-of-type(3) {
                        transform: rotate(-45deg);
                        top: 28px;
                        left: 5px;
                    }
                }
            }
        }

        &__navigation {
            position: absolute;
            top: toRem(100);
            background-color: $color_bg;
            opacity: 0.8;
            z-index: 1;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $color_light;
            font-size: toRem(18);
            text-transform: uppercase;
            letter-spacing: toRem(1.2);
            animation: move-out 1.5s both;

            &--hide {
                display: none;
            }

            &--desktop {
                position: static;
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin: 0 toRem(10);
                font-size: toRem(16);
                font-weight: 400;
                background-color: transparent;
            }

             &__tab {
                width: 100%;
                padding: toRem(20);
                text-align: center;
                cursor: pointer;
                border-top: toRem(1) solid;
                border-bottom: toRem(1) solid;
                border-color: transparent;

                &:hover, &:focus-within {
                    text-decoration: underline;
                    border-color: $color_light;
                }

                &--active {
                    color: $color_secondary;
                }

                @include breakpoint-above(md) {
                    width: auto;

                    &:hover, &:focus-within {
                        border:none
                    }
                }
            }  
        }
    }

    &__main {
        min-height: calc(100vh - 150px);
        padding-top: toRem(20);
        padding-bottom: toRem(500);

        @include breakpoint-above(md) {
            padding-bottom: toRem(150);
        }
    }

    &__footer {
        width: 100%;
        position: absolute;
        bottom: toRem(-500px);
        background-color: $color_primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        box-shadow: 5px -5px 10px -2px $emphasis_dark;
        animation: move-down 1.5s forwards;

        @include breakpoint-above(md) {
            flex-direction: row;
            max-width: toRem(1064);
            border-top-left-radius: toRem(20);
            border-top-right-radius: toRem(20);
        }

        &__logo {
            margin: 0 toRem(10);
            cursor: pointer;
        }
    }
}

@keyframes move-in {
    from {
        top: toRem(-100);
    }
    to {
        top: toRem(0);
    }
}

@keyframes move-down {
    from {
        bottom: toRem(-500);
    }
    to {
        bottom: toRem(25);
    }
}

@keyframes move-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}