@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.contact {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: toRem(20);

    @include breakpoint-above(xs) {
        margin-left: toRem(30);
    }

    @include breakpoint-above(sm) {
        margin-left: toRem(60);
    }

    &__title {
        color: $color_light;
        font-size: toRem(24);
        -webkit-text-stroke: toRem(1) $color_bg;
        text-shadow: 2px 2px 5px $emphasis_dark;
        margin-bottom: toRem(15);
    }

    &__description {
        margin-bottom: toRem(15);
    }

    &__image {
        border-radius: toRem(8);
        object-fit: contain;
        max-width: 100%;
        max-height: toRem(400);
    }

    &__social-media {
        font-size: toRem(24);
        color: $color_light;
        display: flex;
        gap: toRem(10);
    }
}