@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.our-stories-widget {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: toRem(1064);
    margin: 0 auto;
}