@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';

.our-needs {
    display: flex;
    flex-direction: column;
    gap: toRem(30);
    

    @include breakpoint-above(sm) {
        flex-direction: row;
    }
}