@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/variables.scss';
@import '../../scss/mixins/breakpoints.scss';

.cta-button {
    display: flex;
    gap: toRem(8);
    border-radius: toRem(50);
    border: toRem(2) solid;
    border-color: transparent;
    background-color: $color_light;
    font-size: toRem(24);
    font-weight: 600;
    color: $color_secondary;
    line-height: 1;
    padding: toRem(14) toRem(35);
    box-shadow: 5px 5px 10px -2px $color_bg;
    cursor: pointer;
    
    &:hover {
        color: $color_light;
        background-color: $color_secondary;
    }

    &--big {
        text-transform: uppercase;
        letter-spacing: toRem(1.2);
        font-size: toRem(32);
        background-color: $color_secondary;
        color: $color_light;
        border-color: $color_secondary;
        text-shadow: 2px 2px 5px $color_bg;

        &:hover {
            background-color: $color_light;
            color: $color_bg;
            text-shadow: none;
            font-weight: 800;
        }
    }

    &--transparent {
        background-color: $color_light;
        color: $color_bg;
        border-color: $color_secondary;

        &:hover {
            background-color: transparent;
            color: $color_light;
        }
    }
}