@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/breakpoints.scss';
@import '../../scss/mixins/variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    margin: 0 toRem(10);
    color: $color_light;
    text-transform: uppercase;

    @include breakpoint-above(md) {
        flex-direction: row;
    }

    &__list {
        padding: toRem(20);

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: toRem(10) 0;
            
        } 
    }

}