@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/variables.scss';

.our-stories {
    &__title {
        color: $color_light;
        font-size: toRem(24);
        -webkit-text-stroke: toRem(1) $color_bg;
        text-shadow: 2px 2px 5px $emphasis_dark;
        margin-bottom: toRem(15);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: toRem(15);
    }
}